/* Test */

body
{
 background-color:#419C5B; 
}

html, body
{
  height:100%;
}

.container
{
  background-color: white;
}

/* ONE-LINE CLASSES */

.ptr{cursor: pointer;}
.color_main{color: #61E888;}
.color_supp{color: #419C5B;}

.invert_img {filter: invert(1);}
.force_margin_5{margin-top:5rem !important;}

/* OVERRIDING BOOTSTRAP */

.fill { 
  min-height: 100%;
  height: 100%;
}

.nav-tabs{  color: #61E888;  }

.nav-link {  color: #61E888; }

.nav-link:hover{  cursor: pointer;  color: #419C5B;  }

.active{  color: #419C5B;  }

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{color: #419C5B;  }

/* CUSTOM STYLING CSS  */

.info_tab
{
  color:#61E888;
}

#auth_wrapper
{
  border: 0.1rem solid #419C5B;
  border-radius: 0.5rem; 
}

#auth_image
{
  margin-right: 1rem;
  margin-top: 0.4rem;
}

#auth_item
{
  margin-bottom: 0px;

  /* Padding Styling to fit with Boostrap Nav line-height */
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#search_button
{
  background-color: #61E888;
}