/* Test */

body
{
 background-color:#419C5B; 
}

html, body
{
  height:100vh;
}

.container
{
  height:100vh;
  overflow: auto;
  background-color: white;
}

/* ONE-LINE CLASSES */

.ptr{cursor: pointer;}
.no_ptr, .no_ptr:hover{cursor: default;}
.color_main{color: #61E888;}
.color_supp{color: #419C5B;}
.hidden{display: none;}

.invert_img {filter: invert(1);}
.force_margin_5{margin-top:5rem !important;}
.force_margin_3{margin-top:3rem !important;}

.std_input:focus::placeholder {color: transparent;}

/* OVERRIDING BOOTSTRAP */

.fill { 
  min-height: 90rem;
  height: 100%;
}

.nav-tabs{  color: #61E888;  }

.nav-link {  color: #61E888; }

.nav-link:hover{  cursor: pointer;  color: #419C5B;  }

.active_nav{
  color: #419C5B;
  text-decoration: underline 0.15rem #419C5B;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{color: #419C5B;  }

.carousel-indicators li {
  background-color: #6aa77b;
}


.carousel-indicators .active{
  background-color: #419C5B;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active
{
  height: 24rem;
  /* background-color: grey; */
  /* position: relative; */
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23419C5B' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23419C5B' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* CUSTOM STYLING CSS  */

.info_tab
{
  color:#61E888;
}

.carousel_item_wrapper
{
  position: relative;
}

.results_card
{
  position: absolute;
  width:17rem;
  height: 15rem;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, 50%); */
  margin-top: 2rem;
}

.item_card
{
  width:17rem;
  height: 15rem;
  margin-right: 2rem;
  
}

.result_card_img
{
  height: 32px;
  width: 32px;
}

.std_button
{
  background-color: #61E888;
  color: white;
}

.std_button:hover
{
  background-color: #419C5B;
  color: white;
}

#auth_wrapper
{
  border: 0.1rem solid #419C5B;
  border-radius: 0.5rem; 
}

#auth_image
{
  margin-right: 1rem;
  margin-top: 0.4rem;
}

#auth_item
{
  margin-bottom: 0px;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#logout
{
  background-color: #61E888;
  color: #419C5B;
}

#username, #username:hover
{
  color: #419C5B;
  margin-bottom: 0rem;
  /* line-height: 1rem; */
  height: 0rem;
  cursor: default;
}


#search_bar
{
  color: #419C5B;
}

#search_bar::placeholder
{
  color: #419C5B;
  opacity: 0.65;
}

#search_bar:focus::placeholder {
  color: transparent;
}

.carousel_item_wrapper
{
  position: absolute;
  bottom: 5rem;
  left: 0rem;
  right: 0rem;
}

#user_button
{
  width: 7rem;
  height: 3rem;
}

.item_delete_button
{
  background-color: red;
  color: white;
}

.item_delete_button:hover
{
  background-color: darkred;
  color: white;
}

.form-group.std_input
{
  margin-bottom: 0rem;
}

.form-control, .form-control:focus
{
  color: #419C5B;
}

.std_input::placeholder
{
  color: #61E888;
}

.model-content, .modal_delete
{
  width: 30rem;
  height: 17rem;
}

label 
{
  color: #419C5B;
}
