{% extends 'Frontend/base.html' %}
{% load static %}

{% block content %}

<div class="row">
  <div class="col-md-10 ml-3">
    <h4 class="color_supp">Your Collections</h4>
  </div>
</div>

<div class="row d-flex justify-content-between" id="collection_display">



</div>

<script>

  let page = "collections"
  let getCollections_api = "{% url 'getCollections_api' %}"
  let id = 5

  function clickFunc(text)
  {
    console.log("clicked")
    alert(text)
  }

  $("#collection_display").append(`<button id='confirm_button_${id}'>CLICK</button>`)

  $(`#confirm_button_${id}`).on("click", function () {
    clickFunc("steroids")
  })

</script>
<script src="{% static 'Frontend/scripts/tracked_ajax_requests.js'%}"></script>

{% endblock content %}