{% extends "Frontend/base.html" %}
{% load static %}

{% block content %}


<!-- Search Bar -->
<div class="row" style="margin-top:5rem;"> 

  <div class="col-md-1"></div> <!-- Empty for Spacing -->

  <div class="col-md-10">
    <div class="input-group rounded search_bar_wrapper">
      <input type="search" class="form-control rounded py-4 " id="search_bar" placeholder="Search..."/>
      <span class="btn border-0" id="search_button">
        <img src="{% static '/Frontend/media/icons/search.png'%}" class="fas fa-search pt-1 invert_img">
      </span>
    </div>
  </div>

  <div class="col-md-1"></div> <!-- Empty for Spacing -->


</div>

<!-- Search Results Entry -->

<div class="row" style="margin-top:3rem;">

  <div class="col-md px-4">
    <h4 class="color_supp">Results</h4>
  </div>

</div>

<!-- Search Results Entry -->
<div class="row" style="margin-top:5rem;">

  <div class="col-md">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active info_tab" aria-current="page" href="#">Tracked Items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link info_tab" href="#">Collections</a>
      </li>
    </ul>
  <div>

<div>




{% endblock content %}