{% extends "Frontend/base.html" %}
{% load static %}

{% block content %}

<!-- Search Bar -->
<div class="row" style="margin-top:3rem;" id="search_bar_row">

  <div class="col-md-1"></div> <!-- Empty for Spacing -->

  <div class="col-md-10">
    <p class="{% comment %}color_main{% endcomment %} text-center">Search for
      your next PC hardware item and track it!</p>
    <div class="input-group rounded search_bar_wrapper">
      <input type="search" class="form-control rounded py-4 " id="search_bar"
        placeholder="RTX 3090 Founders Edition..." />
      <span class="btn border-0 std_button" id="search_button">
        <img src="{% static '/Frontend/media/icons/search.png'%}"
          class="fas fa-search pt-1 invert_img">
      </span>
    </div>
  </div>

  <div class="col-md-1"></div> <!-- Empty for Spacing -->


</div>

<div class="row mt-4 hidden" id="gettingResults">
  <div class="col-md-1"></div> <!-- Empty for Spacing -->
  <div class="col-md-10">
    <h5 class="color_supp">Getting Results...</h5>
  </div>
  <div class="col-md-1"></div> <!-- Empty for Spacing -->
</div>
<!-- Search Results Entry -->

<div class="row mt-4 hidden" id="search_results_row">

  <div class="col-md-1"></div> <!-- Empty for Spacing -->

  <div class="col-md-10">

    <div class="d-flex flex-row justify-content-between">
      <h5 class="color_supp">Results...</h5>
      <h5 class="text-danger ptr" id="searchClose">X</h5>
    </div>
    <div class="carousel slide" id="results_carousel" data-ride="carousel">

      <!-- Carousel Indicators -->
      <ol class="carousel-indicators">
        <li class="active" data-target="#results_carousel" data-slide-to="0">
        </li>
        <li data-target="#results_carousel" data-slide-to="1"></li>
      </ol>

      <!-- Carousel Item Display -->
      <div class="carousel-inner" id="carousel_wrapper">

        {% comment %} <!-- Carousel Item 1-->
        <div class="carousel-item active">
          <div class="carousel_item_wrapper text-center">
            <h3 id="results_card_name"> SAMSUNG 870 QVO 1TB 2.5" SATA III</h3>
            <p> &pound;103.20</p>
            <p> Stock Available </p>
            <p> Newegg </p>

            <div class="d-flex flex-row justify-content-center">
              <a href="https://www.newegg.com/global/uk-en/samsung-1tb-870-qvo-series/p/2WA-003Z-00382?Description=Samsung%20Qvo%201TB&cm_re=Samsung_Qvo%201TB-_-2WA-003Z-00382-_-Product&quicklink=true"
                class="btn std_button mr-3 search_result_button"> View on their
                website</a>
              <a class="btn std_button btn-secondary ml-3 search_result_button track_btn"
                id="track_button_1">Track</a>
            </div>
          </div>
        </div>

        <!-- Carousel Item 2 -->
        <div class="carousel-item ">
          <div class="carousel_item_wrapper text-center">
            <h3 id="results_card_name">SAMSUNG QVO 870 2.5" Internal SSD - 1 TB</h3>
            <p> &pound;99.99 </p>
            <p> Stock Available </p>
            <p> Currys </p>
            <div class="d-flex flex-row justify-content-center">
              <a href="https://www.currys.co.uk/gbuk/computing-accessories/data-storage/solid-state-drives/samsung-qvo-870-2-5-internal-ssd-1-tb-10218693-pdt.html"
                class="btn std_button mr-3 search_result_button"> View on
                their
                website</a>
              <a class="btn std_button btn-secondary ml-3 search_result_button track_btn"
                id="track_button_2">Track</a>
            </div>
          </div>
        </div> {% endcomment %}

      </div>

      <!-- Carousel Prev Button -->
      <a class="carousel-control-prev" href="#results_carousel" role="button"
        data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <!-- Carousel Next Button -->
      <a class="carousel-control-next" href="#results_carousel" role="button"
        data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>

  </div>
  <div class="col-md-1"></div> <!-- Empty for Spacing -->
</div>


<!-- Tracked/Collection Display -->
<div class="row" id="track_collec_row" style="margin-top:4rem;">

  <div class="col-md">
    <ul class="nav nav-tabs ml-4" id="tracked_tab">
      <li class="nav-item">
        <a class="nav-link active info_tab" id="tracked_display">Tracked
          Items</a>
      </li>
    </ul>

    <div class="py-3" id="tracked_content">
      <small class="pt-5 pl-1 ml-4 {% comment %}color_main{% endcomment %}"
        style="font-style: italic">View your tracked items at a glance, extra
        functionality can be found on the Tracked page</small>
    </div>

  </div>

</div>

<!-- Modal for Search Display -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="search_modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content p-3 px-4 text-center" id="modal_error" style="width: 24rem;"> 
    </div>
  </div>
</div>


<script>
  let getTracked_api = "{% url 'getTracked_api' %}"
  let postTracked_api = "{% url 'postTracked_api' %}"
  let searchItem_api = "{% url 'searchItem_api' 0 %}"
  let token = '{{csrf_token}}'
</script>

<script
  src="{% static 'Frontend/scripts/homepage_ajax_requests.js'%}"></script>
<script>
  $(document).ready(getTrackedItems())

</script>

{% endblock content %}