{% extends 'Frontend/base.html' %}
{% load static %}

{% block content %}

{% if request.user.is_anonymous%}

<div class="row">
  <div class="col-md-10 ml-3 text-center">
    <p class="color_supp">Looks like you don't have any tracked items</p>
    <p class="color_supp">Search for an item to track</p>
  </div>
</div>

{% else %}

<div class="row">
  <div class="col-md-10 ml-3">
    <h4 class="color_supp">Your Tracked Items</h4>
  </div>
</div>

<div class="row d-flex justify-content-between" id="item_display">

</div>

{% endif %}

<script>
  let page = "tracked"
  let getTracked_api = "{% url 'getTracked_api' %}"
</script>
<script src="{% static 'Frontend/scripts/tracked_ajax_requests.js'%}"></script>

{% endblock content %}