{% extends 'Frontend/base.html' %}
{% load static %}

{% block content %}

{% if request.user.is_anonymous%}

{% else %}

<div class="row">
  <div class="col-md-10 ml-4">
    <h4 class="color_supp">Your Tracked Items</h4>
    <h5 class="btn mt-3 btn-danger">Delete Specific Items</h5>
  </div>
</div>

<div class="row d-flex justify-content-between" id="item_display">

</div>

{% endif %}

<script>
  let token = "{{csrf_token}}"
  let page = "tracked"
  let getTracked_api = "{% url 'getTracked_api' %}"
  let deleteTrackedItem_api = "{% url 'deleteTrackedItems_api' 0 %}"
</script>

<script src="{% static 'Frontend/scripts/tracked_ajax_requests.js'%}"></script>

{% endblock content %}